flow.json
[{"id":"c9bf48e5.832ea8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"c0063372.d4b18","type":"ui_form","z":"c9bf48e5.832ea8","name":"","label":"","group":"e7827515.bed128","order":2,"width":0,"height":0,"options":[{"label":"dateCrawled","value":"dw","type":"date","required":true,"rows":null},{"label":"name","value":"na","type":"text","required":true,"rows":null},{"label":"seller","value":"se","type":"text","required":true,"rows":null},{"label":"offerType","value":"of","type":"text","required":true,"rows":null},{"label":"vehicleType","value":"vt","type":"text","required":true,"rows":null},{"label":"yearOfRegistration","value":"yr","type":"number","required":true,"rows":null},{"label":"gearbox","value":"gb","type":"text","required":true,"rows":null},{"label":"powerPS","value":"po","type":"number","required":true,"rows":null},{"label":"model","value":"mo","type":"text","required":true,"rows":null},{"label":"kilometer","value":"km","type":"number","required":true,"rows":null},{"label":"monthOfRegistration","value":"mr","type":"number","required":true,"rows":null},{"label":"fuelType","value":"ft","type":"text","required":true,"rows":null},{"label":"brand","value":"bd","type":"text","required":true,"rows":null},{"label":"notRepairedDamage","value":"nd","type":"text","required":true,"rows":null},{"label":"dateCreated","value":"dc","type":"date","required":true,"rows":null},{"label":"nrOfPictures","value":"np","type":"number","required":true,"rows":null},{"label":"postalCode","value":"pc","type":"number","required":true,"rows":null},{"label":"lastSeen","value":"ls","type":"date","required":true,"rows":null},{"label":"abtest","value":"ab","type":"text","required":true,"rows":null}],"formValue":{"dw":"","na":"","se":"","of":"","vt":"","yr":"","gb":"","po":"","mo":"","km":"","mr":"","ft":"","bd":"","nd":"","dc":"","np":"","pc":"","ls":"","ab":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":100,"y":300,"wires":[["5c2b006f.c9ef5"]]},{"id":"c6d96589.7ea1b8","type":"inject","z":"c9bf48e5.832ea8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":140,"wires":[["5c2b006f.c9ef5"]]},{"id":"5c2b006f.c9ef5","type":"function","z":"c9bf48e5.832ea8","name":"","func":"global.set(\"dw\",msg.payload.dw)\nglobal.set(\"na\",msg.payload.na)\nglobal.set(\"se\",msg.payload.se)\nglobal.set(\"of\",msg.payload.of)\nglobal.set(\"vt\",msg.payload.vt)\nglobal.set(\"yr\",msg.payload.yr)\nglobal.set(\"gb\",msg.payload.gb)\nglobal.set(\"po\",msg.payload.po)\nglobal.set(\"mo\",msg.payload.mo)\nglobal.set(\"km\",msg.payload.km)\nglobal.set(\"mr\",msg.payload.mr)\nglobal.set(\"ft\",msg.payload.ft)\nglobal.set(\"bd\",msg.payload.pd)\nglobal.set(\"nd\",msg.payload.nd)\nglobal.set(\"dc\",msg.payload.dc)\nglobal.set(\"np\",msg.payload.np)\nglobal.set(\"pc\",msg.payload.pc)\nglobal.set(\"ls\",msg.payload.ls)\nglobal.set(\"ab\",msg.payload.ab)\nvar apikey=\"ovJqHcPRLhD4VWJShVW66Qlz3Zy8ncpVgEEorHMhHO1j\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":260,"wires":[["867ba53.0f5fc58"]]},{"id":"867ba53.0f5fc58","type":"http request","z":"c9bf48e5.832ea8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":180,"wires":[["bdbfe96e.21a148"]]},{"id":"bdbfe96e.21a148","type":"function","z":"c9bf48e5.832ea8","name":"","func":"var dw = global.get('dw')\nvar na = global.get('na')\nvar se = global.get('bm')\nvar of = global.get('of')\nvar ab = global.get('ab')\nvar vt = global.get('vt')\nvar yr = global.get('yr')\nvar gb = global.get('gb')\nvar po = global.get('po')\nvar mo = global.get('mo')\nvar km = global.get('km')\nvar mr = global.get('mr')\nvar ft = global.get('ft')\nvar bd = global.get('bd')\nvar nd = global.get('nd')\nvar dc = global.get('dc')\nvar np = global.get('np')\nvar pc = global.get('pc')\nvar ls = global.get('ls')\nvar token=msg.payload.access_token\nvar instance_id=\"e9e77cfd-8109-43ae-ac71-3d9e1d4d4958\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"age\",\"name\",\"seller\",\"offertype\",\"abtest\",\"vehicleType\",\"yearOfRegistration\",\"gearbox\",\"powerPS\",\"model\",\"kilometer\",\"monthOfRegistration\",\"fueltype\",\"brand\",\"notRepairedDamage\",\"dateCreated\",\"nrOfPictures\",\"postalCode\",\"lastSeen\"], \"values\": [[dw,na,se,of,ab,vt,yr,gb,po,mo,km,mr,ft,bd,nd,dc,np,pc,ls]]}]}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":240,"wires":[["daeecc5a.b8bcb"]]},{"id":"daeecc5a.b8bcb","type":"http request","z":"c9bf48e5.832ea8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/b66f0bf9-e59d-4595-bd88-5a5f0ebab8bd/predictions","tls":"","persist":false,"proxy":"","authType":"","x":720,"y":120,"wires":[["ae7e706e.68bec"]]},{"id":"ae7e706e.68bec","type":"function","z":"c9bf48e5.832ea8","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":40,"wires":[["d9a0a47e.911678","e838c075.6bc96"]]},{"id":"d9a0a47e.911678","type":"ui_text","z":"c9bf48e5.832ea8","group":"e7827515.bed128","order":3,"width":0,"height":0,"name":"","label":"resalevalue","format":"{{msg.payload}}","layout":"row-left","x":760,"y":320,"wires":[]},{"id":"e838c075.6bc96","type":"debug","z":"c9bf48e5.832ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":20,"wires":[]},{"id":"e7827515.bed128","type":"ui_group","z":"","name":"Default","tab":"bcfddfff.8f991","order":1,"disp":true,"width":"6","collapse":false},{"id":"bcfddfff.8f991","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
